@import 'tailwindcss';

@theme {
	--font-sans:  Tahoma, sans-serif;
	--font-mono: 'Fira Code', monospace;

	--font-main: var(--font-sans);

	--color-surface: #eeecec;
	--color-onSurface: #333333;

	--color-surfaceContainer: #fff;
	--color-onSurfaceContainer: var(--color-onSurface);

	--color-inkWellHover: color-mix(in srgb, transparent, var(--color-onSurface) 15%);
	--color-inkWellActive: color-mix(in srgb, transparent, var(--color-onSurface) 25%);

	--color-button: #333;
	--color-buttonHover: color-mix(in srgb, var(--color-button), var(--color-onButton) 15%);
	--color-buttonActive: color-mix(in srgb, var(--color-button), var(--color-onButton) 25%);
	--color-onButton: #fff;

	--color-primary-50: var(--color-teal-50);
	--color-primary-100: var(--color-teal-100);
	--color-primary-200: var(--color-teal-200);
	--color-primary-300: var(--color-teal-300);
	--color-primary-400: var(--color-teal-400);
	--color-primary-500: var(--color-teal-500);
	--color-primary-600: var(--color-teal-600);
	--color-primary-700: var(--color-teal-700);
	--color-primary-800: var(--color-teal-800);
	--color-primary-900: var(--color-teal-900);
	--color-primary-950: var(--color-teal-950);
	
	--color-onPrimary: #ffffff;

	--color-appBar: var(--color-surfaceContainer);
	--color-onAppBar: var(--color-onSurfaceContainer);

	--color-divider: color-mix(in srgb, transparent, var(--color-onSurface) 20%);
	--color-containerBorder: color-mix(in srgb, transparent, var(--color-onSurface) 20%);
	--color-smallText: color-mix(in srgb, transparent, var(--color-onSurface) 80%);
	--color-codeContainer: color-mix(in srgb, transparent, var(--color-surfaceContainer) 60%);
}

:root {
	font-family: var(--font-main);
	font-size: 16px;
	tab-size: 4;
	line-height: 1.5;
	accent-color: var(--color-primary-500);
}

@layer base {
	html.main-app, html.main-app body {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0px;

		overflow: hidden;
		overscroll-behavior: none;
		-webkit-text-size-adjust: none;
		-webkit-tap-highlight-color: transparent;

		background: var(--color-surface);
		color: var(--color-onSurface);
	}

	* {
		min-height: 0;
		min-width: 0;
		outline: 2px solid transparent;
		outline-offset: 3px;
	}

	hr {
		border: none;
		border-top: 1px solid var(--color-divider);
	}

	:focus-visible {
		outline-color: var(--color-primary-500);
	}

	input, select, textarea {
		transition: outline-color 0.2s;
		outline-offset: -2px;
	}
}